<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Exercise</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <div id="main">
      <div id="survey">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}{% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
