{% extends 'base.html' %} {% block content%} {% with messages =
get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<h1>Survey Questions</h1>

<form action="/answer" method="post">
  <p id="current-question">{{question.question}}</p>

  {% for i in range(question.choices|length) %}
  <input
    type="radio"
    class="radio"
    id="radio{{i}}"
    name="choice"
    value="{{question.choices[i]}}"
  />
  <label for="radio{{i}}">{{question.choices[i]}}</label>
  <br />

  {% endfor %}
  <br />
  <input class="btn" type="submit" value="Submit Answer" />
</form>

{% endblock %}
